[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"flake8" = "*"
twine = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "pipenv run flake8"
test = "pipenv run python -m unittest discover tests"
